body {
    margin: auto 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFF;
    background: url(aaa.png) center center / cover no-repeat fixed;

}

.title {
    margin: 0;
    padding: 2%;
    font-size: 2rem;
    text-align: center;
}